In [5]:
from flask import Flask, render_template, request, redirect

In [28]:
import requests
import pandas as pd
import io

In [14]:
url2 = 'https://www.quandl.com/databases/WIKIP'
url3 = 'https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?api_key=wNAMU_EAudzbWW6zxay_'
url4="https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [41]:
r = pd.read_csv('https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?api_key=wNAMU_EAudzbWW6zxay_')

In [42]:
r.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0

In [36]:
tickers = r['ticker'].unique()

In [37]:
tickers

array(['A', 'AA', 'AAL', 'AAMC', 'AAN'], dtype=object)

In [31]:

def ticker():
    

key = [] # company name
value = [] # ticker symbol

with open(filename) as f:
    lst = [line.rstrip() for line in f]

    for line in range(0, len(lst), 2):
        key.append(lst[line])

    for line in range(1, len(lst), 2):
        value.append(lst[line])

dictionary = dict(zip(key, value))